ul{
    margin:0;
    padding:0;
    list-style: none;
    background:#828282;
    position:relative;
}

ul li{
    display:inline-block;/*yan yana dizilmeyi sağlar*/
}

ul li a{
    text-decoration: none;
    color:#3B3B3B;
    padding:15px;
    display:block;/*alt alta dizilmeyi sağlar*/
}

ul li:hover{
    background:#B9B9B9;

}
ul ul{
    position:absolute;
    min-width:200px;
    background:#B9B9B9;
    display:none;
}

ul ul li{
    display:block;
    background: #e3e3e3;

}

ul li:hover ul{
    display:block;
}

ul li i{
    color:#323232;
    float:right;
    padding-left:15px;
}

nav div{
    background: #828282;
    color:#3B3B3B;
    font-size:25px;
    padding:10px;
    cursor:pointer;
    display:none;
}

@media(max-width:700px){
    nav div{
        display:block;
    }
    ul{
        display:none;
        position:static;
        background: #B9B9B9;
    }
    ul li{
        display:block;
    }
    ul ul{
        position:static;
        background:#B9B9B9;
    }
}